body {
  margin: 0;
  padding: 0;
  background: rgb(29,124,243);
  background: linear-gradient(90deg, rgba(29,124,243,1) 0%, rgba(254,0,255,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Setting the root to flex allows for the sticky footer
*/

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
